@model LoopifyFinal.Models.Usuario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center mb-4" style="color: #00A79D;">Detalles del Vendedor</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Nombre: @Model.Nombre</h5>
            <p class="card-text">Correo: @Model.Correo</p>
        </div>
    </div>
    <a href="/Administrador/Panel" class="btn btn-secondary mt-3">Volver</a>
</div>
